:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
    
  }
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}


body{
    background-color: var(--background);
    color: white;
    /* background-image: url("images/images/side-image-2x.jpg"); */
    background-repeat: no-repeat;
    background-size: 50%  ;
    background-position: top right  ;
    width: 100%;
    /* overflow: hidden;
    float: right;
     */
}
.Form{
    position: relative;
    left: 50px;
    bottom: -50px;
    color: var(--text-base);
    text-align: left;
    padding: 30px;
    background-color: var(--form-background);
    margin: 70px;
    max-width: 500px;
    
}
.Form p {
    display: flex;
    margin-bottom: 15px;
}
.Form h3{
    
    color: var(--text-title);
    font-size:20px  ;
}

.FormContent{
    display: flex;
    max-width: 500px;
    justify-content: center;

}
.FormContent input{
    display: block;
    margin: 15px;
    width: 90%;
    border: var(--text-base) solid 1px; 
    border-radius: 5%;
}
.button{
    background-color: var(--text-title);
    width: 90%;
}
h3{
    display: inline;
}
fieldset{
    border: none;
}

.header img{
    width: 20px;
}
.senha {
    background-image: url(/LoginFormCSS/images/images/lock.svg);
    background-repeat: no-repeat;
    padding: 5px;
    background-image: url(/LoginFormCSS/images/images/lock.svg);
    background-position: left;
    background-color: var(--form-background);
}
.email { 
    background-image: url(/LoginFormCSS/images/images/mail.svg);
    background-repeat: no-repeat;
    padding: 5px;
    background-color: var(--form-background);
}
.button{
    background-color: var(--primary-color);
    width: 18em; 
    height: 3em;
    border-radius: 5%;
}
