* {
    margin: 0
    
}

.image{
    width: 150px;
    height:150px;
    text-align: center;
    margin: center
}
.link{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: solid blue;
    padding: left;
    margin: right;

}
.logo{
    width: 400px;
    height:400px;
    display: inline;
    padding: 600px;

}