
*{
    width: 10px;
    height: 10px;
}
.b1{
    background-color: red;
    position: relative;
    right: 15px;
    
}
.b2{
    background-color: blue;
    position: relative;
    bottom: 13px;
}
.b3{
    background-color: green;
} 

